{%include "head.html" %}
        <div class="information">
            <div class="aboutUs">
                <h3>toBeSuccessfulElectronics</h3>
                <p>Company name toBeSuccessfulElectronics derives from the word success - was the name of the president of our company, a symbol of inspiration and creativity in science. <br>Name toBeSuccessfulElectronics embodies the strength, creative spirit and purity with which the current generation associated the royal and brave president.<br> With each new product, the company toBeSuccessfulElectronics conquer new heights of quality and innovation.</p>
            </div>
            <div class="contacts row">
                <div class="col-md-8">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d86984.1557525421!2d8.212264886026704!3d47.05485055663492!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478ffa2a79547379%3A0xaef02ad1409952af!2z0JvRjtGG0LXRgNC9LCDQqNCy0LXQudGG0LDRgNGW0Y8!5e0!3m2!1suk!2sua!4v1457108116828" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                    <h3 style="letter-spacing:4px;">Contacts</h3>
                    <p>Luzernerstrasse 88,6014 Luzern, Switzerland</p>
                    <p>Email: tobesuccessfulelectronics@gmail.com</p>
                    <p>Phone: +148-866-613</p>
                </div>
            </div>
        </div>
{% include "footer.html" %}       