       <footer class="row">
           <div class="col-md-4">
               &copy;All rights reserved
           </div>
           <div class="col-md-8">
               <div class="col-md-6" style="height:80px">
                   <div style="float:right">
                    <i class="fa fa-github fa-2x"></i>
                    <a href="https://github.com/andrewchopko/hackathon-test">GitHub</a></div>
                </div>
                <div class="col-md-6" style="height:80px">
                   <div class="row">
                       <div class="col-md-4"><i class="fa fa-vk fa-2x"></i></div>
                   <div class="col-md-4">
                      <div class="names">
                       <div class="name1"><a href="https://vk.com/somethinghappendwithmyprofile">Andrew</a></div>
                       <div class="name2"><a href="https://vk.com/eko24ive">Erik</a></div>
                       </div>
                   </div>
                   <div class="col-md-4" style="padding-left:0px" >
                      <div class="names">
                       <div class="name1"><a href="https://vk.com/a_s_vn">Alex</a></div>
                       <div class="name2"><a href="https://vk.com/fight_for_the_future_now">Nick</a></div>
                        </div>
                   </div>
                   </div>
                </div>
           </div>
        </footer>
    
    </div>
</body>
</html>