{% include "head.html" %}
 {% load staticfiles %}
        <div class="information">
            <div class="products">
            {% for obj in object_list %}
                <a href="{{obj.get_absolute_url}}">
                    <div class="product row">
                        <div class="col-md-4">
                            {% if obj.image %}
                            <img src='{{ obj.image.url }}' alt="" class="img-responsive">
                            {%endif%}
                        </div>
                        <div class="col-md-8">
								<h3><b>{{obj.title}}</b></h3>
								<p> {{obj.content}}</p>
                            <div class="price">
                                <p>{{ obj.price }} <i class="fa fa-usd"></i></p>
                            </div>
                        </div>
                    </div>
                </a>  
            {% endfor %}
            </div>
        </div>
{% include "footer.html" %}